.container{
    background: rgb(127,199,175);
    display: block;
    text-align: center;
    align-content: center;
    width: 50rem;
    margin: auto;
}

.container .saltos{
    background-color: rgb(255,150,154);
}

.container .number{
    width: 15rem;
    margin: 2rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container .botones .b1{
    border-radius: 0.3rem;
    background: crimson;
    color: white;
}

.container .botones .b2{
    margin-left: 2rem;
    border-radius: 0.3rem;
    background: rgb(3, 187, 3);
    color: white;
}

.container .contador{
    background-color: rgb(218,216,167);
}
